@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
.weather {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  height: 100vh;
}
.info {
  text-align: center;
}
.city {
  text-align: center;
}
form {
  text-align: center;
  margin: 20px 0;
}
.submit {
  margin: 20px 0;
  padding: 3px 6px;
}
